#parner-invite-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Invite Partner
      .modal-body
        %form#invite-partner-form
          .form-group
            %label URL
            %input{class: 'form-control', readonly: true, value: invitation_url(@channel.partner_access_code)}
            %label People
            %input{class: 'form-control search-partner', name: 'search-partner', placeholder: 'Enter name or email for searching...'}
        #partner-error-div.error-div
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary.create-invite-to-partner{:type => "submit", data: {cnid: @channel.id}} Invite


#translator-invite-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Invite Translator
      .modal-body
        %form#invite-translator-form
          .form-group
            %label URL
            %input{class: 'form-control', readonly: true, value: invitation_url(@channel.translator_access_code)}
            %label People
            %input{class: 'form-control search-translator',name: 'search-translator',  placeholder: 'Enter name or email for searching...', data: {translator: "true", cnid: @channel.id}}
        #translator-error-div.error-div
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary.create-invite-to-translator{:type => "submit", data: {cnid: @channel.id}} Invite


:javascript
  $(document).ready(function(){
    validateInviteForm();
  });