- if channels.empty? && @term.blank?
  %h4
    You didn't have any channel yet
- else
  %table.table.table-striped
    %thead
      %tr
        %th
          Channel
        %th
          Owner
        %th
          Partner
        %th
          Translator
        %th
          Start Time
        %th
          Length
    %tbody
      - channels.each do |channel|
        = render 'channel_row', channel: channel, type: :normal
  = paginate channels