.channel-list
  .search-bar
    .navbar-form.navbar-right
      %form
        .form-group
          %input.form-control{type: 'text', name: 'term', placeholder: 'Search', value: @term, autofocus: true}
          %button.btn.btn-default{type: 'submit'} GO
          %button.btn.btn-primary.btn-create(data-toggle="modal" data-target="#new-channel-modal" type = "button")
            Create Channel

  .channels-table
    = render 'normal_channel_list', channels: @channels

= render "new_channel_modal"
:javascript
  $(function(){
    $.each($('.time-text'), function(i,e){
      var timeText = $(e).text();
      if(timeText.trim().length > 0){
        //Replace time string for FireFox, Safari (difference standard)
        timeText = timeText.replace(/-/g, "/")
        console.log(timeText)
        $(e).text(moment(timeText).format("LLL"));
      }
    })
  });