- def randMessage()
  - [true, false].sample ? Faker::Lorem.sentence : ""

.channel-show
  .chat-header
    = render "header"
  .chat-content
    %table.channel-table{class: "#{@translator ? 'three-column': 'two-column'}"}
      %tbody
        - (1..50).each do |i|
          - owner_msg = randMessage
          - translator_msg = randMessage
          - partner_msg = randMessage
          = render "message", owner_msg: owner_msg, translator_msg: translator_msg, partner_msg: partner_msg, from_owner: (i%2 == 1)
  .chat-footer
    %table{class: "#{@translator ? 'three-column': 'two-column'}"}
      %tbody
        %tr
          %td
            - if @owner
              %textarea
          - if @translator
            %td
          %td
            - if @parner
              %textarea

:javascript
  $(document).ready(function(){
    resizeTable();
    $(window).resize(function(){
      resizeTable();
    });
  });
  function resizeTable(){
    maxHeight = $(window).height() - 300
    $('.channel-table tbody').css({'max-height': maxHeight});
  }