<tr class="typing-text">
  <% if (isOwner){ %>
    <td class="owner-td">Typing...</td>
    <td></td>
    <td class="partner-td text-right"></td>
  <% } else { %>
    <td class="owner-td"></td>
    <td></td>
    <td class="partner-td text-right">Typing...</td>
  <% } %>
</tr>