textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  resize: vertical;
}

.thumbnail-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}
.thumbnail-img.online {
  border: 3px solid blue;
}