@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,latin-ext,vietnamese,greek,greek-ext,cyrillic);

$shadow-color: rgba(0, 0, 0, 0.6);
$shadow-online-color: rgba(193, 241, 166, 0.8);

body {
  -webkit-font-smoothing:antialiased;
  font-family: 'Roboto', sans-serif;
  background-color: #fbfbfb;
}
.authentication-form{
  padding: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

label.error{
  font-size: smaller;
  color: red;
}

textarea {
  resize: vertical;
}

.thumbnail-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px $shadow-color;
  -moz-box-shadow: 0 0 10px $shadow-color;
  -webkit-box-shadow: 0 0 10px $shadow-color;
  -o-box-shadow: 0 0 10px $shadow-color;
}

.logo-img {
  width: 150px;
}
.thumbnail-img.online {
  border: 3px solid #4BD100;

  box-shadow: 0 0 10px $shadow-online-color;
  -moz-box-shadow: 0 0 10px $shadow-online-color;
  -webkit-box-shadow: 0 0 10px $shadow-online-color;
  -o-box-shadow: 0 0 10px $shadow-online-color;
}

.row.no-padding {
  .col:first-child{
    padding-right: 2px !important;
  }
  .col:last-child{
    padding-left: 2px !important;
  }
}

html, body {
  height: 100%;
}

.body-container {
  min-height: 100%;
  padding-bottom: 50px;
  overflow: visible;
}
footer {
  margin-top: -50px;
}
.green {color: green}

.round-image{
  border-radius: 5px;
}
.ui-autocomplete {
  z-index: 2000;
}

.search-bar {
  height: 60px;
}

.error-div {
  color: red;
}
.template-img {
  width: 100%;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: -11px 0px;
}