<td class="owner-td">
  <div class="message-content">
    <div class="arrow"></div>
    {{message}}
  </div>
  <div class="message-time">{{time}}</div>
</td>
<td class="translator-td"></td>
<td class="partner-td"></td>